.Courses {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Courses-container {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    padding: 40px;
    row-gap: 2vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(85, 85, 85, 0.25) 0px 54px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    cursor: default;
    margin-bottom: 50px;
}

.Courses-container:hover {
    background-color: rgba(95, 95, 95, 0.3);
}

.School-Title {
    text-shadow: 3px 3px 20px #99f3ff, -2px 1px 30px #99f3ff;
}

.logo {
    width: 250px;
}

.courseList {
    display: flex;
    flex-direction: column;
    row-gap: 0.7vh;
    text-align: left;
}