.Experience-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10vh;
    padding-bottom: 5%;
}

.resume, .resume-link {
    color: white;
    font-size: 30px;
}

.resume-link {
    text-shadow: 3px 3px 20px #99f3ff, -2px 1px 30px #99f3ff;
}


.experience {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    width: 80%;
    background-color: red;
    background-color: rgba(0, 0, 0);
    box-shadow: rgba(85, 85, 85, 0.25) 0px 54px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 35px;
    margin: 35px;
    flex-basis: 1;
}

.experience:hover {
    background-color: rgba(95, 95, 95, 0.3);
    cursor: default;
  }

.Xcompany, .Xposition {
    text-shadow: 3px 3px 20px #99f3ff, -2px 1px 30px #99f3ff;
    font-size: 20px;
}

.Xproject {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 20px #99f3ff, -2px 1px 30px #99f3ff;
    font-size: 20px;
}

@media (max-width: 900px) {
    .resume, .resume-link {
        font-size: 25px;
    }
    .Xproject, .Xcompany, .Xposition, .XdescriptionItem, .XprojectDescription, .Xdate, .Xlocation {
        font-size: 10px;
    }

    .experience {
        padding: 30px;
        margin: 15px;
    }
}